/* Réinitialisation de base et styles globaux */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  color: #333333;
  background-color: white;
}

/* Styles spécifiques pour les titres */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Great Vibes', cursive !important; /* Police pour les titres */
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
